body {
  margin: 0;
  font-family: 'Noto Serif Khmer', serif;
  background: url('assets/_DSC2769 copy.jpg') no-repeat center center fixed;  color: #fff;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.page {
  display: none;
  text-align: center;
  max-width: 600px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 15px;
}

.page.active {
  display: block;
}

h1, h2, h3 {
  font-family: 'Koulen', cursive;
  margin-bottom: 1rem;
  font-size: 2rem;
}

button {
  margin-top: 2rem;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  background-color: #d4a373;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #c58e5c;
}

.page img {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}